.App {
  font-family: sans-serif;
  margin: 20px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 4px;
}

.App .city {
  padding: 10px 10px 4px 10px;
}

.App .prospects ul {
  margin: 0px;
  padding: 20px;
}

.Temperature img {
  width: 40px;
  position: relative;
  top: -20px;
}

.Temperature .temp {
  font-size: 70px;
  display: inline;
}

.Temperature .units {
  top: -40px;
  position: relative;
}

.Temperature .units a {
  text-decoration: none;
}
