.App {
  font-family: sans-serif;
  margin: 20px;
  max-width: 600px;
}

.App h1 {
  font-size: 24px;
  margin: 0;
  padding: 10px, 10px, 0px, 12px;
}

.border {
  border: 1px solid grey;
  border-radius: 4px;
  padding: 20px;
}

.App ul {
  list-style: none;
  margin: 0px;
  padding: 0px 0px 0px 10px;
}

.App .city {
  padding: 10px 10px 0px 10px;
}

.App .prospects ul {
  margin: 0px;
  padding: 20px;
}

.Temperature img {
  width: 40px;
  position: relative;
  top: -20px;
}

.Temperature .temp {
  font-size: 70px;
  display: inline;
}

.Temperature .units {
  top: -40px;
  position: relative;
}

.Temperature .units a {
  text-decoration: none;
}
